.tableTime {
  padding-top: 15px;
  padding-bottom: 20px;
}
.tableTime__wrapper {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
    overflow-x: scroll;
}
.tableTime__inner {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tableTime__btn {
  width: 45%;
  padding: 7px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  
}

.table__heading--top {
  padding: 5px 10px;
  background-color: aqua;
}

.table__heading {
  padding: 5px 10px;
  font-size: 16px;
}
.table__date {
  padding: 5px 10px;
  text-align: center;
}

.table__calendar {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 696px) {
  .table__heading--data {
    writing-mode: vertical-rl;
    letter-spacing: 1px;
  }
  .table__heading {
    font-size: 14px;
  }
  .tableTime__btn {
    font-size: 16px;
  }
}